
build
.vscode
1.cpp
a.out
test
test.cpp
thread_pool.cpp
test
cmake-build-debug
main
.gitignore
include/my-json
include/lua-5.4.3
script/test.lua
tree


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app